<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Detail</title>

</head>
<body>
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <p><a href="{% url 'create_task'%}">Create a new task</a></p>
            <h2>Tasks</h2>
        {% if project.tasks.exists %}
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
              </tr>
            </thead>
            <tbody>
              {% for task in tasks %}
                <tr>
                  <td>{{ task.name }}</td>
                  <td>{{ task.assignee.username }}</td>
                  <td>{{ task.start_date|date:"F j, Y" }}</td>
                  <td>{{ task.due_date|date:"F j, Y" }}</td>
                  <td>{{ task.is_completed|yesno }}</td>
                </tr>

              {% endfor %}
            </tbody>
          </table>
        {% else %}
            <p>This project has no tasks.</p>
        {% endif %}

      </div>
    </main>
</body>
</html>
